#how-to-play-modal {
  div.section-wrapper {
    margin-bottom: 35px;
    h6.section-heading {
      font-size: 1.3em;
    }

    p {
      font-weight: 350;
    }

    li {
      margin-top: 5px;
      font-size: 0.7em;
    }

    ul#betting-explanation {
      margin-top: 15px;
      li {
        margin-top: 5px;
        font-size: 0.9em;
      }
    }
  }
}
