#how-to-play-modal {
  .modal-content {
    max-height: 700px;
    overflow: auto;
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(216, 216, 216);
    }
  }

  div.section-wrapper {
    margin-bottom: 35px;
    h6.section-heading {
      font-size: 1.3em;
    }

    p {
      font-weight: 350;
    }

    li {
      margin-top: 5px;
      font-size: 0.7em;
    }

    ul#betting-explanation {
      margin-top: 25px;
      li {
        margin-top: 8px;
        font-size: 0.9em;
      }
    }
  }
}
