@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

@import "../app/colors.scss";
@import "../start-menu/startMenu.scss";
@import "../game/game.scss";
@import "../navigationBar/navigationBar.scss";

body,
html {
  margin: 0px;
  background-color: $MAIN_BACKGROUND_COLOR;
}

html {
  overflow-y: scroll;
}

.text-warn {
  color: rgb(177, 0, 0);
  font-style: italic;
}
