@function gray($color) {
  @return rgb($color, $color, $color);
}

$black: rgb(49, 46, 46);
$lightBlue: rgb(3, 169, 244);
$blue: rgb(68, 117, 254);
$red: rgb(211, 47, 47);
$orange: rgb(251, 98, 0);
$green: rgb(76, 175, 80);
$purple: rgb(81, 45, 168);
$yellow: rgb(255, 202, 40);

$shadow1: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
$shadow2: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
$shadow3: rgba(0, 0, 0, 0.12) 0px 10px 30px, rgba(0, 0, 0, 0.16) 0px 6px 10px;

$themeColor: $black;
$secondarythemeColor: $lightBlue;
