@import "../application/colors.scss";
@import "../navbar/navbar.scss";

body {
    background-color: #fafafa;
    margin: 0px;

    p {
        margin: 140px;
        text-align: center;
        font-size: 3em;
        color: #b2b2b2;
    }

    i {
        color: $yellow;
        margin-top: 60px;
        font-size: 3em;
    }
}