#start-menu {
  margin-top: 50px;

  #join-lobby-card {
    span.title {
      font-family: "Karla", sans-serif;
      font-size: 1.4em;
      margin-bottom: 10px;
    }
  }
  #how-to-play-row {
    margin: 50px 0px;
  }

  .card {
    padding: 15px;

    table {
      margin-top: 25px;

      tr {
        line-height: 10px;
        vertical-align: middle;
        td {
          &.center {
            text-align: center;
          }
        }
      }
    }
  }

  #create-new-game-form-col {
    margin-left: 7vw;
    span.title {
      font-family: "Karla", sans-serif;
      font-size: 1.4em;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #start-menu {
    .card {
      margin-bottom: 30px;
    }

    #create-new-game-form-col {
      margin-left: 0px;
    }
  }
}
