#start-menu {
  table {
    margin-top: 25px;

    tr {
      line-height: 10px;
      vertical-align: middle;
      td {
        &.center {
          text-align: center;
        }
      }
    }
  }

  #create-new-game-form-col {
    padding-left: 5vw;
  }
}
