#gamelobby {
  margin-top: 35px;

  .card {
    padding: 10px;
  }

  #game-table-wrapper {
    padding: 30px;
    width: 100%;
    table#game-board {
      width: 100%;
      tr#cards {
        img {
          width: 12vw;
        }

        td:nth-child(1) {
          text-align: left;
        }
        td:nth-child(2) {
          text-align: center;
        }
        td:nth-child(3) {
          text-align: right;
        }
      }
    }
  }

  #control-buttons {
    margin-top: 30px;
    text-align: center;

    form#bet-controls-wrapper {
      margin-right: 40px;
      display: inline-block;

      #bet-amount-input {
        max-width: 100px;
        text-align: center;
        font-size: 1.3em;
        vertical-align: middle;
      }
    }

    #advance-btn {
      margin-top: 7px;
    }
  }

  #game-data-wrapper {
    #gamePotData {
      width: 12vw;
      padding: 5px;
      border: 1px solid lightgray;
      display: inline-block;
      font-size: 1.2em;
    }
  }

  #game-status-card {
    margin-bottom: 20px;
  }

  #player-turn-order-card {
    padding: 10px;
    padding-left: 25px;
    table#player-turn-order {
      tr {
        position: relative;
        &.currentTurn::after {
          content: " ";
          background: url("/img/arrow.png");
          background-size: cover;
          width: 15px;
          height: 15px;
          position: absolute;
          left: -18px;
          top: 6px;
        }
      }

      td {
        &.my-user {
          font-weight: bold;
        }
        &.turn-status {
          font-style: italic;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #gamelobby {
    #game-table-wrapper {
      table#game-board {
        tr#cards {
          img {
            width: 18vw;
          }
        }
      }
    }

    #game-data-wrapper {
      #gamePotData {
        margin-top: 10px;
        width: 45vw;
        padding: 7px;
        font-size: 1.3em;
      }
    }

    #game-status-card {
      margin: 20px 0px;
    }
  }
}
